*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #55355A;
}
#container{
    background-color: #492C4C;
    width: 20rem;
    height: 20rem;
    display: block;
    margin: 20rem auto;
    padding: 2rem;
}
#container #info{
    display: block;
    align-items: center;
}
#container #info i{
    margin: 0px 0px 10px 135px;
    font-size: 60px;
    color: white;
}
#container #info span{
    display: block;
    text-align: center;
    margin: 5px 0px 0px 0px;
    color: white;
    font-size: 1.5rem;
}
#container #form{
    margin: 23px 0px;
}
input{
    margin: 13px 0px;
    border: none;
}
#container #form input[type="text"]{
    border-radius: 5px;
    padding: 10px 2px;
    width: 20rem;
}
#container #form input[type="password"]{
    border-radius: 5px;
    padding: 10px 2px;
    width: 20rem;
}
#container #form input[type="submit"]{
    border: none;
    background-color: #FEB47B;
    padding: 10px 9rem;
}